.side-bar {
    background-color: #C3C3C3;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.50) inset, 2px 2px 0px 0px rgba(255, 255, 255, 0.50) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    gap: 15px;

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.side-bar .divider {
    height: 5px;
    width: 100%;
    background: #D9D9D9;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.50) inset, 2px 2px 0px 0px rgba(255, 255, 255, 0.50) inset;
}

.side-bar .nav-link {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar .menu-btn {
    position: relative;
    background: #C3C3C3;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.50) inset, 2px 2px 0px 0px rgba(255, 255, 255, 0.50) inset;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-shadow {
    border: 3px solid;    
}

.menu-open {
    min-width: 125px;
    min-height: 100px;
    box-shadow: -3px -3px 0px 0px rgba(0, 0, 0, 0.50) inset, 3px 3px 0px 0px rgba(255, 255, 255, 0.50) inset;
    border: 3px;
    position: absolute;
    top: 3px;
    left: 46px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    background: #C3C3C3;
}

.menu-open .menu-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #010081 0%, #1CACE4 100%);
    padding-left: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-open .container {
   display: grid;
   gap: 5px;

}

.menu-open .container .menu-item {
    padding-left: 7px;
    background: none;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
}
