.side-bar {
    background-color: #363636;
    color: #10B981;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 75px;
}

